@import "../vendor/bootstrap/bootstrap.less";
@darkcolor: #252b30;

body { 
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f6f6f6;
    
}

.palette {
    .color {
        position: relative;
        width: 36px;
        height: 36px;
        .selectedColor {
            position: absolute; 
            left: 4px;
            top: 4px;
            width: 28px;
            height: 28px;
        }
        .inputMask {
            background: url(../img/colorpicker/select.png);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 36px;
            height: 36px;
        }
    }
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    .tools {
        clear: both;
        div {
            border: 2px solid transparent; 
            margin: 2px;
            padding: 1px;

            overflow: hidden;
            cursor: pointer;
            height: 32px;
            overflow: hidden;
            img { 
                margin-top: -32px;
            }
        }
        div.active img {
            margin-top: 0px; 
        }


    }
    .clearfix;
    z-index: 200;
    background: @darkcolor;
    color: #fff;

    .materials {
        .clearfix;
        div {
            border: 2px solid transparent;
            width: 20px; 
            height: 20px; 
            cursor: pointer; 
            float: left; 
            margin: 5px;
        }
        div.active { 
            border: 2px solid #FA9A50;
        }

    }
}

#center { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 50px; 
    right: 211px; 
    height: 100%;
}


.layers {
    .settings { display: none; }
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 210px;
    z-index: 9999;
    background: #fff;
    border-left: 1px solid #d8d8d8;
    input.width, input.height, input.size {
        border: 1px solid #333; 
        padding: 2px;
        width: 30px;
    }

    ul {
        list-style-type: none;
    }

    > ul { 
        margin: 0;
        margin-top: 0px; 
        border-top: 1px solid #d8d8d8;
    }
    li.active {
        background: #efefef;
    }
    
    .Artifacts {
        font-size: 90%;
        overflow: hidden;
        .arrow {
            margin-right: 5px; 
            font-size: 90%; 
            width: 13px; 
            cursor: pointer;
        }
        
        li {
            overflow: hidden;
        }

        .artifact.active {
            background: #ccc;
        }
    }

    > ul > li { 
        padding: 10px;

        cursor: pointer;
        border-bottom: 1px solid #d8d8d8;
        width: 100%;
        
        .expansionToggle {
            margin-right: 5px;
            font-size: 90%;
            width: 13px;
            display: inline-block;
        }

        .buttons { 
            float: right;
            margin-right: 15px;
            button { 
                margin-right: 5px; 
                float: left; }
        }
        overflow: hidden;
    }
    button.newLayer { 
        margin-top: 5px; 
        margin-bottom: 5px; 
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }
}

.layerStackHolder {
    overflow: hidden;
    .HUD {
        border-top: 1px solid @darkcolor;
        bottom: 0px;
        background: rgba(0,0,0,0.2);
        height: 3em;

        button {
            margin: 5px; 
            float: right;
        }
    }
}
.layerStack {
    z-index: 90;
    background: #f6f6f6;
    position: relative;
    overflow: auto;
    height: 95%;
    .grid {
        background: rgba(255, 255, 255, 0);
    }

    .cells {
        background: rgba(255, 255, 255, 0.5);
    }

    .tool {
        background: rgba(255, 255, 255, 0.5);   
    }
    

    canvas {
        position: absolute; 
        left: 0;
        top: 0;
        cursor: crosshair;
    }
}

.canvasHolder { 
    z-index: 80;
}
​